<div class="pricing">
  <div class="gallery-cell">
    <div class="direction">
      <h1>Amsterdam</h1>
      <h3>From 85 EUR</h3>
    </div>
    <img src="/assets/cities/amsterdam.jpg" alt="">
  </div>
  <div class="gallery-cell">
    <div class="direction">
      <h1>Barcelona</h1>
      <h3>From 107 EUR</h3>
    </div>
    <img src="/assets/cities/barcelona.png" alt="">
  </div>
  <div class="gallery-cell">
    <div class="direction">
      <h1>Brussels</h1>
      <h3>From 72 EUR</h3>
    </div>
    <img src="/assets/cities/brussels.jpg" alt="">
  </div>
  <div class="gallery-cell">
    <div class="direction">
      <h1>London</h1>
      <h3>From 100 EUR</h3>
    </div>
    <img src="/assets/cities/london.jpg" alt="">
  </div>
  <div class="gallery-cell">
    <div class="direction">
      <h1>Paris</h1>
      <h3>From 69 EUR</h3>
    </div>
    <img src="/assets/cities/paris.jpg" alt="">
  </div>
</div>
